<div class="slick-corousel">
    <h2>Slick-corousel</h2>
    <div class="corousel">
        <div class="corousel__item">
            <img
                src="img/landscape-with-mountains-lake_1398-2287.webp"
                alt=""
            />
        </div>
        <div class="corousel__item">
            <img src="img/mountains-lake_1398-1150.webp" alt="" />
        </div>
    </div>
</div>

<div class="owl">
    <h2>owl-carousel</h2>
    <div class="owl-carousel owl-theme">
        <div>
            <img
                src="img/landscape-with-mountains-lake_1398-2287.webp"
                alt=""
            />
        </div>
        <div><img src="img/mountains-lake_1398-1150.webp" alt="" /></div>
        <div>
            <img
                src="img/landscape-with-mountains-lake_1398-2287.webp"
                alt=""
            />
        </div>
        <div><img src="img/mountains-lake_1398-1150.webp" alt="" /></div>
    </div>
</div>

<div class="swiper-carousel">
    <h2>swiper-carousel</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/mountains-lake_1398-1150.webp" alt="" />
            </div>
            <div class="swiper-slide">
                <img
                    src="img/landscape-with-mountains-lake_1398-2287.webp"
                    alt=""
                />
            </div>
            <div class="swiper-slide">
                <img src="img/mountains-lake_1398-1150.webp" alt="" />
            </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
    </div>
</div>
