<div class="fancyapp">
    <h1>fancyapps</h1>
    <div class="fancy">
        <div class="flex flex-wrap gap-5 justify-center max-w-5xl mx-auto px-6">
            <a
                data-fancybox="gallery"
                href="https://lipsum.app/id/46/1600x1200"
            >
                <img class="rounded" src="https://lipsum.app/id/46/200x150" />
            </a>
            <a
                data-fancybox="gallery"
                href="https://lipsum.app/id/47/1600x1200"
            >
                <img class="rounded" src="https://lipsum.app/id/47/200x150" />
            </a>
            <a
                data-fancybox="gallery"
                href="https://lipsum.app/id/51/1600x1200"
            >
                <img class="rounded" src="https://lipsum.app/id/51/200x150" />
            </a>
        </div>
    </div>
</div>
